*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: grid;
    grid-template-rows: 1fr 4fr;
    min-height: 100vh;
    background-color: rgb(10, 104, 148);
    color: aliceblue;
    border: 2px solid orange;
}

.header{
    grid-row: 1;
    justify-content: center;
    align-items: center;
    display: grid;
    font-size: xx-large;
}

#addnew{
    border: 2px solid orange;
}

dialog{
    margin: auto;
    width: 400px;
    height: 450px;
    background-color: rgb(23, 184, 149);
    color: whitesmoke;
    font-size: x-large;
    border-radius: 12px;
}

dialog *{
    margin-top: 4px;
}

.one,
.two,
.three{
    display: flex;
    justify-content: space-between;
}

::backdrop{
    background-color: #666;
    opacity: 0.75;
}

fieldset{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 5px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    justify-content: space-around;
    padding: 10px 30px;
    grid-row: 2;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    margin: 12px;
    height: 250px;
    background-color: tomato;
    color: whitesmoke;
    font-size: x-large;
    border-radius: 12px;
}

.card:hover,
#addnew:hover{
    box-shadow: 3px 4px 3px rgb(200, 201, 201);
}

.card div{
    margin-top: 12px;
}

.card button,
.header button,
dialog button{
    background-color: brown;
    color: azure;
    font-size: large;
    border: 1px solid brown;
    border-radius: 10px;
    width: 150px;
    height: 30px;
}

dialog button{
    background-color: rgb(2, 151, 119);
    border: 1px solid rgb(2, 151, 119);
}

.header button{
    margin-left: 26px;
}